@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono&family=Ubuntu&display=swap');

@font-face {
    font-family: 'Nokia FC 22';
    src: url('./assets/fonts/nokiafc22.ttf') format('truetype');
}

h1,
p {
    color: white;
    font-family: 'Ubuntu',
        'Lucida Sans Unicode',
        'Lucida Grande',
        'Lucida Sans',
        Arial,
        sans-serif;
}

summary,
h1 {
    font-weight: bolder;
}

summary {
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}

#about-me-content {
    font-weight: lighter;
    font-family: 'Nokia FC 22', 'Roboto Mono', 'Courier New', Courier, monospace;
}

.header {
    background-color: gray;
    display: inline-block;
}

button {
    font-family: 'Nokia FC 22', 'Roboto Mono', 'Courier New', Courier, monospace;
    background-color: rgb(180, 180, 180);
    width: 100px;
    height: 30px;
}

button:hover {
    transition: 200ms;
    background-color: rgb(150, 240, 150);
}

button:active {
    transition: 200ms;
    background-color: rgb(40, 160, 40);
}

.selected {
    background-color: rgb(40, 160, 40);
}